<div class='index-back'>
    <div class="container">
        <div class="row hero-row">
            <div class="hero-content col-12 col-md-8 px-4 mx-auto">
                <div class="text-center mt-4">
                    <h1 class="title-gradient">Community first.</h1>
                    <div class="subtitle-text">
                        <h5>Join the movement for a more flexible, transparent, and open platform made by communities for communities.</h5>
                        <div class="text-center mt-4">
                            <div onclick="window.location = 'https://app.valour.gg'" class="v-btn-wrapper  ">
                                <div class="btn btn-lg v-button">
                                    <a href="https://app.valour.gg">Open the App</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row overview-row">
            <div class="col-12 col-lg-6">
                <img class="platform-image" alt="The Valour platform" src="media/screencaps/platform-2.webp"/>
            </div>
            <div class="col-12 col-lg-6">
                <h3 class="title-gradient m-4">Powerful Features</h3>
                <p class="p-4">Take advantage of advanced features made capable by our unique tech stack. In-app window management allows you to chat in multiple channels at once, even across communities. Our economy and item systems allow you to reward your community members, show off your accomplishments, and be immersed like never before.</p>
            </div>
        </div>
        <div class="content-spacer"></div>
        <div class="row dark-row mx-auto justify-content-center align-items-center">
            <div class="col-12 col-lg-6">
                <h3 class="title-gradient-reverse m-4">Next-gen Performance</h3>
                <p class="p-4">Other apps stick their code into Electron, sacrificing your computer's resources. Valour is built on Blazor, allowing us to take advantage of WebAssembly and related technologies, giving us a massive edge.</p>
                <p class="px-4">We use a custom node-based backend system that allows large communities to get the performance they need - without disabling core features.</p>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <img alt="Browser performance" class="perf-image pt-4" src="media/screencaps/performance.webp"/>
            </div>
        </div>
        <div class="content-spacer"></div>
        <div class="content-spacer"></div>
        <div class="row open-source-row">
            <div class="col-12 col-lg-6">
                <h3 class="title-gradient-blue m-4">Open Source, Privacy Focused</h3>
                <p class="p-4">We're an open book. Built by volunteers with no corporate funding, Valour will continue to build the features you need without compromising your values or experience. We pledge to uphold your privacy, build amazing communities, and to be transparent as an organization.</p>
                <p class="p-4">Valour will never sell your data, and holds your privacy as critical to our mission. If you don't trust us, you can go look at the code yourself! And to any developers interested in helping to build this project, we are always ready for new team members to make this a reality.</p>
                <div class="text-center mb-4">
                    <div onclick="window.location = 'https://github.com/Valour-Software/Valour'" class="v-btn-wrapper  ">
                        <div class="btn btn-md v-button">
                            <a href="https://github.com/Valour-Software/Valour">Our Source Code</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <img class="platform-image" alt="Open Source Contributions" src="media/screencaps/opensource-3.webp"/>
            </div>
        </div>
        <div class="content-spacer"></div>
        <div class="content-spacer"></div>
    </div>
</div>

